

<div class="container-fluid" id="startPage">
    <!-- Überschrift-->
    <div id="start_header">
        <h2>Formularerstellung</h2>
    </div>

    <!-- Zwischenüberschrift-->
    <div class="container-fluid" id="list_container">
        <h1>Formulare im Erstellungsprozess</h1>
        <!-- Antragsliste -->
        <div id="formslist">
            <div *ngFor="let form of forms;">
                <a [routerLink]="[form.link]" class="list-group-item list-group-item-action">
                    <table>
                        <tr>
                            <td>
                                <div id="listItem"> {{form.formName}} </div>
                            </td>
                            <td>
                                <div id="progressLabel"> {{form.formProgress}} </div>
                            </td>
                            <td>
                                <div *ngIf="form.warning">
                                    <mat-icon id="warningIcon" class="info">
                                        report_problem
                                        <span class="infotext">Es liegen <br> Gesetzesänderungen vor</span>
                                    </mat-icon>
                                </div>
                            </td>
                        </tr>
                    </table>
                </a>
            </div>
        </div>
    </div>

</div>

