#startpage {
    height: auto;
    width: auto;
}

#start_header {
    background-color: #C9D3DE;
    border-radius: 10px 10px 0px 0px;
    width: fit-content;
    height: 10%;
}

h2 {
    font-size: large;
    padding: 16px;
    padding-top: 8px;
}

#list_container {
    background-color: #C9D3DE;
    margin-top: -8px;
    padding-bottom: 20px;
    height: auto;
    width: auto;
}

h1 {
    font-size: x-large;
    padding: 16px;
    padding-top: 32px;
}

#formslist {
    width: 1100px;
    padding: 16px;
    padding-top: 0px;
}

#listItem {
    width: 300px;
    height: 60px;
    padding-top: 19px;
}


#progressLabel{
    width: 650px;
    padding-left: 500px;
}

#warningIcon {
    font-size: 50px;
}

 /* Tooltip container */
 .info {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .info .infotext {
    visibility: hidden;
    width: fit-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: medium;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -300%;
    margin-left: 0;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;

    font-family: "Segoe UI", Arial, sans-serif;
  }
  
  /* Tooltip arrow */
  .info .infotext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .info:hover .infotext {
    visibility: visible;
    opacity: 1;
  } 