/* You can add global styles to this file, and also import other style files */

body {
  background-color: #DBE3EB;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.custom-tutorial {
  outline: 4px solid #6c92be;
  background-color: #DBE3EB;
  z-index: 20;
  position: absolute !important;
}