#start_header {
  background-color: #DBE3EB;
  border-radius: 10px 10px 0px 0px;
  width: fit-content;

}

.container-fluid {
  background-color: #DBE3EB;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 50px;
}

.input {
  grid-area: a;
  grid-column-start: 1;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  border-color: #8394A6;
  background-color: #f8f9fa;
  height: fit-content;
}

.big-checkbox {
  width: 25px;
  height: 25px;
}

h1 {
  font-size: x-large;
  padding: 16px;
  padding-top: 32px;
}

.border-layout{
  border-color: #6C92BE;
  border-width: medium;
}

@media (max-width: 1499px) {
  .container {
    width: 70%;
    margin-left: 20px;
    margin-right: auto;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 50%;
    height: 100%;
  }
}

#newComponent {
  padding-bottom: 4rem;
  margin-top: 6rem;
}

.btn, .btn:focus {
  border-radius: 6px;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 8px;
  background-color: #6C92BE;
  color: white;
}

.btn:hover, .btn:active {
  /* background-color: #dcdee0; */
  border-color: #8394A6 !important;
  /* TODO eventuell ändern */
  background-color: #325174 !important;
  color: white !important;
}

 /* Tooltip container */
 .info {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.info .infotext {
  visibility: hidden;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.info .infotext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.info:hover .infotext {
  visibility: visible;
  opacity: 1;
} 