<!-- Überschrift-->
<div class="container-fluid">
  <div id="start_header">
    <h1>Antrag auf Gewährung von Sozialhilfe</h1>
  </div>
</div>


<div class="container">
   <!-- Persönliche Informationen zur beantragenden Person -->
    <input id="persAng" class="form-control mt-5 mb-3" type="text" value="1) Ihre persönlichen Angaben" aria-label="readonly input example" readonly>
      <div class="row g-2" >
        <div class="col-6" *ngFor="let info of personalInfoList ">
          <div id = {{info.id}} class="input">{{info.value}}</div>
        </div>
      </div>

    <!-- Persönliche Informationen zur leistungsbeziehenden Person -->
      <input id="persInfo" *ngIf="thirdShowWrong" class="form-control mt-5 mb-3" type="text" value="2) Persönliche Informationen zur leistungsbeziehenden Person" aria-label="readonly input example" readonly>
      <input id="newPersInfo" [hidden]='!thirdShowRight' class="form-control mt-5 mb-3" type="text" value="2) Persönliche Angaben zur leistungsbeziehenden Person" aria-label="readonly input example" readonly>
      <div class="row g-2" >
        <div class="col-6" *ngFor="let info of personalInfoList ">
          <div id = {{info.id}} class="input">{{info.value}}</div>
        </div>
      </div>

      <!-- Zum Haushalt gehören außerdem folgende Personen-->
      <input class="form-control mt-5" type="text" value="3) Zum Haushalt gehören außerdem folgende Personen" aria-label="readonly input example" readonly>
      <input class="form-control mt-4 mb-3" type="text" value="3.1) Erste Person" aria-label="readonly input example" readonly>
      <div class="row g-2">
        <div *ngFor="let hausElement of hausList;" class="col-6">
          <div class="input">{{hausElement}}</div>
        </div>
      </div>
      <input class="form-control mt-5 mb-3" type="text" value="3.2) Zweite Person" aria-label="readonly input example" readonly>
      <div class="row g-2">
        <div *ngFor="let hausElement of hausList;" class="col-6">
          <div class="input">{{hausElement}}</div>
        </div>
      </div>
      <input class="form-control mt-5 mb-3" type="text" value="3.3) Dritte Person" aria-label="readonly input example" readonly>
      <div class="row g-2">
        <div *ngFor="let hausElement of hausList;" class="col-6">
          <div class="input">{{hausElement}}</div>
        </div>
      </div>

      <!-- Besteht eine Betreuung -->
      <input id="firstContainer" class="form-control mt-5 mb-3" type="text" value="4) Besteht schon eine Betreuung nach dem BGB?" aria-label="readonly input example" readonly>
      <input id="secondContainer"[hidden]='!show' class="form-control mt-4 mb-3" type="text" value="Die Abkürzung BGB steht für das Bürgerliche Gesetzbuch. Im BGB unter § 1896 finden Sie weitere Informationen dazu." aria-label="readonly input example" readonly>

      <div class="form-check form-check-inline ml-2 mr-5">
        <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox1" value="option1" onclick="return false">
        <label class="form-check-label" for="inlineCheckbox1">Nein</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox2" value="option2" onclick="return false">
        <label class="form-check-label" for="inlineCheckbox2">Ja</label>
      </div>

      <!-- Ist eine solche beantragt -->
      <input id="solbetContainer" *ngIf="secondShowWrong"class="form-control mt-5 mb-3" type="text" value="4.1) Ist eine solche schon beantragt?" aria-label="readonly input example" readonly>
      <input id="newbetContainer" [hidden]='!secondShowRight' class="form-control mt-5 mb-3" type="text" value="4.1) Ist eine solche Betreuung schon beantragt?" aria-label="readonly input example" readonly>

      <div class="form-check form-check-inline ml-2 mr-5">
        <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox1" value="option1" onclick="return false">
        <label class="form-check-label" for="inlineCheckbox1">Nein</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox2" value="option2" onclick="return false">
        <label class="form-check-label" for="inlineCheckbox2">Ja</label>
      </div>

      <!-- Ansprüche nach Bundesversorgungsgesetz-->
      <input class="form-control mt-5 mb-3" type="text" value="5) Ansprüche nach Bundesversorgungsgesetz" aria-label="readonly input example" readonly>
      <span id = 'lawChanges' style="resize: none; height: fit-content;" class="form-control mt-4 mb-3" role="textbox" aria-label="readonly input example" readonly>5.1) Sind sie als Leistungsberechtigte:r kriegsbeschädigt - 30 v. H. Minderung der Erwerbstätigkeit oder mehr?</span>

      <div class="form-check form-check-inline ml-2 mr-5">
        <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox1" value="option1" onclick="return false">
        <label class="form-check-label" for="inlineCheckbox1">Nein</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input big-checkbox" type="checkbox" id="inlineCheckbox2" value="option2" onclick="return false">
        <label class="form-check-label" for="inlineCheckbox2">Ja</label>
      </div>

      <div id="newComponent" class="mt-5 text-center">
        <button type="button" class="btn btn-light info">Fügen Sie hier eine neue Komponente hinzu
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 20 20">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
          <span class="infotext">Diese Funktion ist im Demontrator nicht enthalten</span>
        </button>
      </div>
</div>


