<mat-dialog-content>

  <button (click)='close()'>Beenden</button>
  <h2>Video-Tutorial</h2>
  <div class="video">
    <div class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item"  src="/assets/videos/VPTutorial.mp4" controls></video>
  </div>
</div>

</mat-dialog-content>

