.mat-dialog-content{
  width: 100%;
  height: 100%;
  /* background-color: #DBE3EB; */
  justify-content: center;
}

button{
  float: right;
  border-radius: 6px;
  border: none;
  padding: 4px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: #F8F9FA;
}

button:hover {
  background-color: #dddddd;
}


video{
  width: 800px;
  height: 600px;
}
