.mat-dialog-content{
  background-color: #6C92BE !important;
  border-radius: 10px !important;


}

input {
  height: 170px !important;
  width: 100% !important;
  background-color: #CAD6E2 !important;
  margin-bottom: 8px;
}

.icon{
  position: relative;
  left: -20px;
  padding: 8px;
  min-width: auto;
}

.main-text {
  color: white;
}

.dialog-btn {
  border-radius: 6px;
  border: none;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  margin-bottom: 8px;
  background-color: #EDF1F4;
}

.dialog-btn:hover {
  background-color: #dcdee0;
}
