<div class="container-fluid">
<mat-dialog-content>
  <mat-icon class='icon' aria-hidden="false" >{{dialogIcon}}</mat-icon>
  <p class='main-text' [innerHTML] = "dialogText"></p>
  <div  *ngIf='showInputField'>
    <input  type="text" placeholder="Eingabe..." (keydown.enter)= "clear($event)">
  </div >
  <div *ngIf='buttons.length > 0'>
    <div *ngFor='let button of buttons'>
      <!--Hier muss Button Komponente rein der als Parameter button.label und button.callbackFunction übergeben werden-->
      <button class="dialog-btn" (click)='button.callbackFunction()'>{{button.label}}</button>
    </div>

  </div>
</mat-dialog-content>
</div>
