.navbar-brand {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 24px;
    padding-bottom: 32px;
}

.form-control {
    padding-left: 16px;
}

.btn {
    margin-left: 8px;
}

.d-flex {
    padding-left: 55%;
}


