<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        Kreis Musterstadt
      <img src="/assets/pictures/MusterLogo.png" alt="" width="60" height="48" class="d-inline-block align-text-bottom">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul *ngFor="let navElement of navList;" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="navElement.link()">{{navElement.name}}</a>
          </li>
        </ul>
      <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Suche" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Los!</button>
      </form>
      </div>
  </div>
  </nav>


